.clients {
  padding-top: 0;

  @extend .container;
  @extend .main-page__section-clients;
  @extend .section;

  &__ul {
    fill: $color-SocialIcons;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  &__icons {
    width: 170px;
    height: 92px;
    border: 1px solid $color-SocialIcons;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__icons:hover,
  &__icons:focus,
  &__icons:active {
    fill: $color-mainBlue;
    border-color: $color-mainBlue;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: $BPointPhoneStart) and (max-width: $BPointPhoneEnd) {
  .clients__icons {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: $BPointTabletStart) and (max-width: $BPointtTabletEnd) {
  .clients__ul {
    margin: 0;
  }

  .clients__icons {
    max-width: 226px;
    max-height: 92px;
    flex-basis: calc((100% - 30px) / 3);
  }
}
