.footer {
  background-color: $colorFooter;

  @extend .all-links;
  @extend .mail-hover;

  &__flex {
    display: flex;
    padding-top: 60px;
    /* mobile */
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }

  @media screen and (min-width: $BPointTabletStart) {
    .footer__flex {
    }

    .footer__label-newsletter .footer__button {
      display: block;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: $BPointDesktopStart) {
    .footer__flex {
      flex-wrap: nowrap;
      flex-direction: row;
    }
  }

  &__first-half {
  }

  &__second-half {
    margin-left: 70px;
  }

  &__sm-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff1a;
    cursor: pointer;
    width: 44px;
    height: 44px;
    fill: $color-mainWhite;
  }

  &__sm-icons:hover,
  &__sm-icons:focus {
    background-color: $color-mainBlue;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__address {
    color: $color-FooterAddres;
    font-style: normal;
    font-size: 1.17;
    line-height: 24px;
    letter-spacing: 0, 3em;

    &--grey {
      color: $color-FooterAddresGrey;
    }
  }

  &__h2 {
    padding-top: 6px;
    color: $color-mainWhite;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.8;
    letter-spacing: 0, 3em;
    text-transform: uppercase;
  }

  &__social-div-footer {
    display: flex;
    gap: 10px;
    fill: $color-mainWhite;
    margin-top: 20px;
  }

  &__newsletter {
    margin-left: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__label-newsletter {
    font-weight: 700;
    font-size: 14px;
    color: $color-mainWhite;
    text-transform: uppercase;
  }

  &__input {
    background-color: $color-colorH1AndFooter;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid $color-FooterMailBorder;
    color: $color-FooterAddresGrey;
    margin-top: 20px;
    outline: none;
    padding: 16px 15px;
  }

  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0, 6em;
    color: $color-mainWhite;
    background-color: $color-mainBlue;
    border-radius: 4px;
    padding: 10px 42px;
    border: 0;
    margin-left: 12px;
    cursor: pointer;
    margin-bottom: 94px;
  }

  &__svg-send {
    fill: $color-mainWhite;
    position: relative;
    left: 8px;
    top: 5px;
  }

  &__font-logo {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 20px;
  }
}
