.headlamp {
  max-width: 1600px;
  background-image: url("../images/banners/main-banner.jpg"),
    linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%);
  background-size: 1600px;
  background-position: center;
  background-color: $color-colorH1AndFooter;
  color: $color-mainWhite;
  text-align: center;
  margin: 0 auto;

  &__description-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0, 6em;
    text-align: center;
    padding-top: 200px;
    text-transform: uppercase;
  }

  &__button {
    background-color: $color-mainBlue;
    color: $color-mainWhite;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 200px;
    border: 0;
  }

  &__button:hover,
  &__button:focus {
    background-color: $color-mainWhite;
    color: $color-mainBlue;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
