.lorem {
  &__ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__lorem {
    max-width: 100%;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $BPointTabletStart) {
    .lorem__li {
      flex-basis: calc((100% - 2rem) / 2);
    }

    .lorem__lorem {
      width: 100%;
      max-width: 354px;
    }
  }

  @media screen and (min-width: $BPointDesktopStart) {
    .lorem__ul {
      flex-wrap: nowrap;
    }

    .lorem__li {
      flex-wrap: nowrap;
      max-width: 270px;
    }

    .lorem__lorem {
      width: 100%;
      max-width: 354px;
    }
  }

  &__description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0, 3em;
    color: $color-description;
    margin-bottom: 10px;
    text-transform: uppercase;

    &--small {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0, 3em;
      color: $color-color-description-small-letters;
    }
  }
}
