.menu-toggle {
  outline: none;
  background: none;
  border: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-mainWhite;
  z-index: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  &.is-open {
    transform: translateX(0);
    opacity: 1;
    z-index: 6;
  }

  & .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: $color-mainWhite;
  }

  &__icon {
    fill: $color-mainBlue;
    cursor: pointer;
    transition-property: fill;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;
  }

  &__icon:hover {
    fill: $color-mainBlue;
  }

  &__icon--close {
    fill: $color-description;
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: ease;
  }

  &__icon--close:hover {
    transform: rotate(100deg);
  }

  &__content {
    height: 100vh;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 36px;
  }

  &__item {
    margin-bottom: 36px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__link {
    font-size: 40px;
    font-weight: 500;
    color: $color-description;
    text-decoration: none;
  }

  &__link:hover {
    color: $color-mainBlue;
  }

  &__tel {
    margin-bottom: 32px;
  }

  &__tel-link {
    font-weight: 500;
    font-size: 34px;
    color: $color-mainBlue;
    text-decoration: none;
  }

  &__mail {
    margin-bottom: 64px;
  }

  &__mail-link {
    font-weight: 500;
    font-size: 24px;
    color: $color-color-description-small-letters;
    text-decoration: none;
  }

  &__socials-item {
    display: inline-block;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
    padding-right: 10px;
  }

  &__socials-item:last-child {
    border: none;
    margin: none;
    padding: none;
  }

  &__socials-link {
    font-weight: 500;
    font-size: 18px;
    color: $color-mainBlue;
    text-decoration: none;
  }
}
