.skills {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin-bottom: 94px;
  
@extend .main-page__description-main;
  
&__photo {
  position: relative;
  margin-top: 50px;
}

&__we-do {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: $color-SkillsWeDo;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0, 3em;
  text-align: center;
  padding: 27px 90px;
  color: $color-mainWhite;
  z-index: 1;
  margin-bottom: 3px;
  text-transform: uppercase;
}
}

