$color-mainBlue: rgba(33, 150, 243, 1);
$color-mainWhite: rgba(255, 255, 255, 1);
$color-halfWhite: rgba(245, 244, 250, 1);
$color-colorH1AndFooter: rgba(47, 48, 58, 1);
$colorFooter: rgb(47, 48, 58);
$color-BorderFigacap: rgba(238, 238, 238, 1);
$color-FooterAddresGrey: rgba(255, 255, 255, 0.6);
$color-FooterAddres: rgb(255, 255, 255);
$color-description: rgba(33, 33, 33, 1);
$color-FocusAllLinks: rgb(53, 93, 77);
$color-color-description-small-letters: rgba(117, 117, 117, 1);
$color-LogoStudio: rgb(0, 0, 0);
$color-HeaderNavUlA: rgb(33, 33, 33);
$color-HeaderMailPhone: rgb(117, 117, 117);
$color-HeaderNavBorder: #ccc;
$color-SocialIcons: rgba(175, 177, 184, 1);
$color-FooterMailBorder: rgba(255, 255, 255, 0.3);
$color-ModalFormBorder: rgba(33, 33, 33, 0.2);
$color-SkillsWeDo: rgba(47, 48, 58, 0.8);

$transitionDurationDefault: 250ms;
$transitionTimingDefault: cubic-bezier(0.4, 0, 0.2, 1);

$BPointPhoneEnd: 767px;
$BPointTabletStart: 768px;
$BPointtTabletEnd: 1199px;
$BPointDesktopStart: 1200px;
